<h2>{{title}}</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <fieldset>
    <legend>User</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" formControlName="name" required [(ngModel)]="user.name">
      <div *ngIf="form.get('name').touched && form.get('name').errors" class="alert alert-danger">
        <div *ngIf="form.get('name').errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email" required [(ngModel)]="user.email">
      <div *ngIf="form.get('email').touched && form.get('email').errors" class="alert alert-danger">
        <div *ngIf="form.get('email').errors.required">Email is required</div>
        <div *ngIf="form.get('email').errors.emailInvalid">Please type a valid email</div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input id="phone" type="text" class="form-control" formControlName="phone" [(ngModel)]="user.phone">
    </div>
  </fieldset>

  <fieldset formGroupName="address">
    <legend>Address</legend>
    <div class="form-group">
      <label for="street">Street</label>
      <input id="street" type="text" class="form-control" formControlName="street" [(ngModel)]="user.address.street">
    </div>

    <div class="form-group">
      <label for="suite">Suite</label>
      <input id="suite" type="text" class="form-control" formControlName="suite" [(ngModel)]="user.address.suite">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input id="city" type="text" class="form-control" formControlName="city" [(ngModel)]="user.address.city">
    </div>

    <div class="form-group">
      <label for="zipCode">Zip Code</label>
      <input id="zipCode" type="text" class="form-control" formControlName="zipcode" [(ngModel)]="user.address.zipcode">
    </div>
  </fieldset>

  <button id="saveUserBtn" class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>


</form>
